body {
    background-color: rgb(232, 233, 238);
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
}

.title {
    margin: 20px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
}

.filtering {
    margin: 0 20px 20px 20px;
    text-align: right;
    font-size: 15px;
}

.section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    margin: 20px;
    height: 40vh;
}

.text_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    background-color: rgb(208, 222, 228);
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.text_num {
    text-align: center;
    font-size: 40px;
}

.chart_bar {
    flex: 2;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart_bar canvas {
    width: 100% !important;
    height: 100% !important;
}

.chart_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    align-items: stretch;
    height: 48vh;
}

.chart_li {
    flex: 1;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart_li canvas {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 768px) {
    .section, .chart_container {
        flex-wrap: wrap;
    }

    .text_box, .chart_bar, .chart_li {
        width: 100%;
        flex: none;
        height: auto;
    }
}
